.login{
    height: 100vh;
    width: 100%;
    display: flex;
    margin-left: 80px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)),
    url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80");
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}
.loginTitle{
    font-size: 50px;
    
}

.loginForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.loginForm >label{
  margin: 10px 0;

}
.loginInput{
    padding: 10px;
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
}
.loginB{
    margin-top: 20px;
    cursor: pointer;
    background-color: lightcoral;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.loginB:disabled{
    cursor: not-allowed;
    background-color: rgb(249, 186, 186) ;
}
.registerB{
     position: absolute;
    top: 50px;
    right: 50px;
    border: none;
    background-color: teal;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: inline-block;
     font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
     padding: 7px 20px;
    text-align: center;
    transition: all 250ms;
    border: 0;
     font-size: 16px;
     user-select: none;
     -webkit-user-select: none;
    touch-action: manipulation;
    
}
.registerB:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}